h3{
	color: #374d65;
	}
	input{
		width: 20%;
		padding: 10px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		background-color: #6BA3E8;
		color: #374d65;
		color-interpolation: : #374d65;
	}
	input::placeholder {
	  color: #374d65;
	}
	.submit{
		background-color: #6BA3E8;
		
	}
	